<!DOCTYPE html>
<html>
<head>
  <title>TEST TEST</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>"dronesTAGRAM-application"</h1>
  <nav>
    <a href="/posts">myPictures</a>
    <a href="/new">addPicture</a>
  </nav>

  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
